---
import Sidebar from '../molecules/sidebar.astro';
import MainHead from '../organisms/main-head.astro';
import MainHeader from '../organisms/main-header.astro';

interface Props {
  title?: string | undefined;
  description?: string | undefined;
  language: string;
}

const { title, description, language } = Astro.props;
---

<html lang={language}>
  <MainHead title={title} description={description} />
  <body>
    <MainHeader language={language} />
    <Sidebar />
    <main>
      <slot />
    </main>
  </body>
</html>
