---
import { SocialMedia } from '../../constants/global';
import Icon from '../atoms/icon.astro';
---

<aside class='sidebar-media'>
  <a href={SocialMedia.GITHUB} target='_blank' rel='noopener noreferrer'>
    <Icon icon='github' size='50px' />
  </a>
  <a href={SocialMedia.LINKEDIN} target='_blank' rel='noopener noreferrer'>
    <Icon icon='linkedin' size='50px' />
  </a>
</aside>

<style>
  .sidebar-media {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1em;
    position: fixed;
    top: 45vh;
    right: 0;
    padding: 1em 0.5em;
  }

  a {
    width: 50px;
    height: 50px;
    transition: all 0.3s ease-out;
  }

  a:hover > svg {
    fill: var(--theme-main-color);
    transition: all 0.3s ease-in;
  }
</style>
