.button-top {
  position: fixed;
  opacity: 0;
  bottom: 2em;
  right: 0.5em;
  width: 40px;
  height: 40px;
  pointer-events: none;
  border-radius: 50%;
  background-color: #fff;
  display: grid;
  place-items: center;
  animation: hiddenButton 0.2s ease-out both;
}

.button-top--active {
  animation: showButton 0.2s ease-in both;
  opacity: 1;
  pointer-events: all;

}

.button-top__arrow {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-top__arrow::after,
.button-top__arrow::before {
  position: absolute;
  content: "";
  background-color: var(--theme-background-color);
  width: 2px;
  height: 15px;
}

.button-top__arrow::after {
  transform: rotate(30deg) translate(-3px, 2px);
}

.button-top__arrow::before {
  transform: rotate(-30deg) translate(3px, 2px);
}

@keyframes showButton {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes hiddenButton {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.5);
  }
}