---
import { type CollectionEntry } from 'astro:content';
import { getContentEntry } from '../../utils/collection-handler';
import { CollectionsNames } from '../../constants/global';

interface Props {
  language: string;
}

const { language } = Astro.props;
const { data: aboutCollection }: CollectionEntry<CollectionsNames.ABOUT> =
  await getContentEntry(CollectionsNames.ABOUT, language);
---

<section class='main-about' id='about'>
  <article>
    <h2>{aboutCollection?.title} <hr /></h2>
    <p>
      {aboutCollection?.description}
    </p>
  </article>
</section>

<style>
  .main-about {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
</style>
