---
import type { CollectionEntry } from 'astro:content';
import { CollectionsNames } from '../../constants/global';
import { getContentEntry } from '../../utils/collection-handler';
interface Props {
  language: string;
}

const { language } = Astro.props;

const {
  data: experieceCollection,
}: CollectionEntry<CollectionsNames.EXPERIENCE> = await getContentEntry(
  CollectionsNames.EXPERIENCE,
  language
);
---

<section class='main-experience' id='experience'>
  <article>
    <h2>{experieceCollection.title}<hr /></h2>
    <p>
      {experieceCollection.description}
    </p>
  </article>
</section>

<style>
  .main-experience {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
</style>
