---

---

<section class="main-contact" id="contact">
  <article>
    <h2>Contact<hr /></h2>
    <p>
      Software Developer for around six years. Last four years more focused on
      front-end development loving to make UI components with a good user
      experience. Strong skills with ReactJS, Javascript, HTML, CSS, and CSS
      preprocessors such as Less and Sass. Also experienced with Typescript,
      Redux, GatsbyJS, NextJS, node.js, GraphQL, Jquery, Atomic Design, Micro
      front-ends (Github Submodules Approach), some continuous integration and
      continuous delivery tools such as CircleCI, and Jenkins and contentful CMS
    </p>
  </article>
</section>

<style>
  .main-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
</style>
