---
import type { CollectionEntry } from 'astro:content';
import { CollectionsNames } from '../../constants/global';
import { getContentEntry } from '../../utils/collection-handler';
interface Props {
  language: string;
}

const { language } = Astro.props;

const { data: mainCollection }: CollectionEntry<CollectionsNames.MAIN> =
  await getContentEntry(CollectionsNames.MAIN, language);
---

<section class='main-intro'>
  <article class='main-intro__article'>
    <span class='main-intro__span'>{mainCollection?.greeting}</span>
    <h1 class='main-intro__title'>{mainCollection?.title}</h1>
    <h2 class='main-intro__subtitle'>{mainCollection?.subtitle}</h2>
    <p class='main-intro__description'>
      {mainCollection?.description}
    </p>
  </article>
</section>

<style>
  .main-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 80px);
  }

  .main-intro__article {
    max-width: 60em;
  }

  .main-intro__span {
    color: var(--theme-main-color);
  }

  .main-intro__title {
    margin-top: 15px;
  }

  .main-intro__subtitle {
    color: #6a7083;
    margin-top: 5px;
  }

  .main-intro__description {
    max-width: 40%;
    color: #6a7083;
    margin-top: 2em;
  }
</style>
